# SPDX-FileCopyrightText: 2022 Serokell <https://serokell.io>
#
# SPDX-License-Identifier: MPL-2.0

/dist-newstyle
/.ghc.environment.*
/.direnv
.stack-work
hie.yaml
stack-hie.yaml*
.vscode/
result
*.txt
stack-hie.yaml
stack-hie.yaml.lock
feedback.log
